html {
  font-size: 62.5%; }

body {
  overflow-scrolling: none;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-size: 1.6em; }

.Grobal_wrapper {
  width: 100%;
  height: 100%; }

.top {
  position: fixed !important;
  width: 100vw;
  height: 100vh; }
  .top-filter {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/overlay.png");
    opacity: .1; }
  .top-overlay2 {
    position: absolute;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #F57C00; }
    .top-overlay2-wrapper {
      position: absolute;
      overflow: hidden;
      width: 95%;
      height: 95%; }
  .top-border {
    position: absolute;
    fill: none;
    width: 95%;
    height: 95%;
    stroke: #fafafa;
    stroke-width: 2px;
    z-index: 1;
    pointer-events: none; }
  .top-links {
    position: absolute;
    top: 50px;
    left: 5%;
    width: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .top-title {
    color: #fafafa;
    font-size: 5rem;
    position: absolute;
    bottom: 30px;
    right: 5%;
    letter-spacing: 1px;
    line-height: 7.5rem;
    font-family: 'Alfa Slab One', cursive; }
    .top-title span {
      color: #F57C00;
      font-size: 7.5rem; }
  .top-subtitle {
    color: #fafafa;
    position: absolute;
    top: 50px;
    left: 5%;
    font-size: 3.5rem;
    line-height: 5.5rem;
    text-align: left;
    font-weight: 600; }

.logo {
  width: 35%;
  fill: transparent;
  min-width: 200px;
  stroke: #fafafa;
  stroke-width: .8px;
  z-index: 2; }

.twitter-link, .youtube-link {
  font-size: 2.5rem;
  color: #fafafa;
  border: 1px solid #fafafa;
  padding: 10px;
  border-radius: 50%; }

main {
  position: relative;
  width: 100%;
  top: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
  height: 2000px;
  z-index: 1;
  background: #fff; }
