$theme_color: #f47a00;
$border_color: #b4b4b4;
$content_color: rgb(243, 243, 242);
$after_color: rgba(244, 67, 54, .9);
$before_color: rgba(76, 175, 80, .9);
html {
  font-size: 62.5%;
}

body {
  color: #313131;
  // overflow-scrolling: none;
  width: 100vw;
  min-width: 320px;
  font-size: 16px;
  font-size: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.Grobal_wrapper {
  width: 100%;
  height: 100%;
}

.Side-navigation {
  width: 40px;
  height: 200px;
  display: flex;
  position: fixed;
  z-index: 2;
  top: 50%;
  transform: translate(0, -50%);
  left: 100%;
  &__lists {
    width: 100%;
    height: 100%;
  }
  &__list {
    width: 100%;
    height: 20%;
    display: inline-block;
  }
  &__link {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      .Side-navigation__circle {
        background-color: #FF9100;
        &::after {
          opacity: 1;
          right: 155%;
          display: block;
        }
      }
    }
  }
  &__circle {
    width: 10px;
    height: 10px;
    background-color: #FFD180;
    border-radius: 50%;
    position: relative;
    &::after {
      position: absolute;
      top: -100%;
      right: 280%;
      font-size: 1.6rem;
      text-decoration: none;
      color: $theme_color;
      transition: .2s;
      opacity: 0;
      background-color: #fafafa;
      border-color: $theme_color;
      border: 1px solid;
      border-radius: 50px;
      padding: 5px; 
    }
    &--top::after {
      content: "1.Top";
    }
    &--about::after {
      content: "1.About";
    }
    &--active::after {
      content: "3.Activities";
    }
    &--detail::after {
      content: "2.Details";
    }
    &--genre::after {
      content: "4.Genre";
    }
  }
}

.top {
  position: fixed !important; 
  width: 100vw;
  height: 100vh;
  &-filter {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/overlay.png");
    opacity: .15;
  }
  &-overlay2 {
    position: absolute;
    left: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: $theme_color;
    &-wrapper {
      position: absolute;
      overflow: hidden;
      width: 95%;
      height: 95%;
    }
  }
  &-border {
    position: absolute;
    fill: none;
    width: 95%;
    height: 95%;
    stroke: #fafafa;
    stroke-width: 2px;
    z-index: 1;
    pointer-events: none;
  }
  &-links {
    position: absolute;
    top: 50px;
    left: 4%;
    width: 110px;
    display: flex;
    justify-content: space-between;
  }
  &-title {
    position: absolute;
    bottom: 80px;
    right: 4%;
    width: 43%;
    min-width: 280px;
    span {
      color: $theme_color;
      font-size: 10rem;
      display: block;
    }
  }
  &-subtitle {
    color: #fafafa;
    position: absolute;
    top: 50px;
    left: 5%;
    font-size: 3.5rem;
    line-height: 5.5rem;
    text-align: left;
    font-weight: 600;
  }
  &-opening {
    color: #fafafa;
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 500px;
    height: 7rem;
    overflow: hidden;
    font-family: 'Alfa Slab One', cursive;
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 200%;
    }
    li {
      text-align: center;
    }
  }
  &-scrollButton {
    transform: rotate(45deg) translate(0, 0);
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 50px;
    border-right: 4px solid #d8d8d8;
    border-bottom: 4px solid #d8d8d8;
    display: flex;
    justify-content: center;
    transition: .2s;
    align-items: center;
    cursor: pointer;
    &:hover {
      border-color: #fafafa;
    }
  }
}

.logo {
  width: 7%;
  top: 10px;
  fill: transparent;
  stroke: #fafafa;
  stroke-width: .8px;
  position: absolute;
  right: 0;
  z-index: 2;
}

.twitter-link,
.youtube-link {
  font-size: 3rem;
  color: #fafafa;
  padding: 10px;
  transition: .3s;
}

.twitter-link:hover {
  color: #55acee;
  border-color: #55acee;
}

.youtube-link:hover {
  color: #cd201f;
  border-color: #cd201f;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
  top: 100vh;
  padding-bottom: 20px;
  padding-right: 7%;
  transition: .5s;
  z-index: 1;
  background: $theme_color;
  box-sizing: border-box;
}

.about {
  box-sizing: border-box;
  background: $content_color;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
  transform: rotate(0.0001deg);
  align-items: center;
  z-index: 0;
  height: 700px;
  margin-bottom: 10px;
  position: relative;
  padding: 50px 80px;
  &-inner {
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-left: 20px;
    border-left: 20px solid $theme_color;
    transform: translate(-40px);
  }
  &-down,
  &-up {
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    margin-bottom: 20px;
  }
  &-left {
    width: 450px;
    height: 90%;
    border-radius: 6px;
    padding: 10px 0 0 40px;
    z-index: 1;
    box-sizing: border-box;
  }
  &-right,
  &-right2 {
    width: 50%;
    height: 250px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &-filter {
      width: 100%;
      height: 100%;
      background-color: $theme_color;
      position: absolute;
      left: -100%;
    }
  }
  &-right {
    background-image: url('../img/about2.jpg');
  }
  &-right2 {
    background-image: url('../img/about6.jpg');
  }
  &-title {
    span {
      &:first-child {
        position: relative;
        font-size: 3rem;
        display: block;
        
        font-weight: 600;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 8px;
          position: absolute;
          bottom: -3px;
          background: linear-gradient(90deg, $theme_color, rgba($theme_color, 0));
          z-index: -1
        }
      }
      &:nth-child(2) {
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  &-dancing {
    font-size: 3.4rem;
  }
  &-content {

    font-size: 1.5rem;
    line-height: 2.6rem;
    letter-spacing: 0.4px;
    span {
      font-size: 2.2rem; 
      font-weight: 600;
      line-height: 5rem;
    }
  }
}

.detail {
  background: $content_color;
  height: 550px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
  padding: 50px 80px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
  z-index: 0;
  &-title {
    font-size: 7.6rem;
    height: 7rem;
    transform: translate(-60px, -10px);
    font-weight: 600;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    span:first-child {
      color: $theme_color;
    }
    >span:not(:first-child) {
      font-size: 1.2rem;
    }
  }
  &-content {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    height: calc(100% - 4.5rem - 20px);
    position: relative;
    z-index: 0;
    border-left: 20px solid $theme_color;
    padding-left: 20px;
    transform: translate(-40px);
  }
  &-left {
    width: 50%;
    box-sizing: border-box;
    padding-left: 20px;
    height: 100%;
  }
  &-right {
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-filter {
    background-color: $theme_color;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
  }
  &-lists {
    >li {
      display: flex;
      height: 73.2px;
      align-items: center;
      border-top: 1px dashed $theme_color;
      &:last-child {
        border-bottom: 1px dashed $theme_color;
        height: 16rem;
        line-height: 2.5rem;
      }
    }
  }
  &-inner {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    span {
      margin-right: 15px;
      margin-left: 5px;
    }
  }
  &-topicwrapper {
    height: 100%;
    width: 130px;
    min-width: 130px;
    background-color: rgb(236, 236, 231);
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
  }
  &-topic {
  }
}

.news {
  position: relative;
  height: 500px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
  width: 100%;
  padding: 50px 80px;
  box-sizing: border-box;
  background-color: $content_color;
  &-title {
    font-size: 7.6rem;
    height: 7rem;
    transform: translate(-58px, -10px);
    font-weight: 600;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    span:first-child {
      color: $theme_color;
    }
    span:not(:first-child) {
      font-size: 1.2rem;
    }
  }
  &-inner {
    width: 100%;
  }
  &-lists {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 20px;
    border-left: 20px solid $theme_color;
    transform: translate(-40px);
    justify-content: space-between;
  }
  &-list {
    margin-left: 10px;
    height: 80%;
    border: 1px solid #919191;
  }
  &-list:last-child {
    
    width: 250px;
    background-color: #fafafa;
    border-radius: 3px;
  }
  &-list:not(:last-child) {
    width: 240px;
    background-color: rgba(250, 250, 250, .84);
    border-radius: 3px;
    position: relative;
  }
  &-image {
    width: 100%;
    height: 170px;
    background-color: #999;
  }
  &-topic {
    display: flex;
    margin-top: -2px;
    span {
      text-align: center;
      font-weight: 600;
      padding: 5px 0;
      width: 50%;
      display: block;
      border-bottom: 1px solid $border_color;
      &:first-child {
        border-right: 1px solid $border_color;
      }
    }
  }
  &-content {
    padding: 10px;
    line-height: 2rem;
    box-sizing: border-box;
    span {}
  }
}

.genre {
  height: 1200px;
  position: relative;
  width: 100%;
  padding: 50px 80px;
  box-sizing: border-box;
  background-color: $content_color;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
  z-index: 0;
  &-title {
    font-size: 7.6rem;
    height: 7rem;
    transform: translate(-58px, -10px);
    font-weight: 600;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    span:first-child {
      color: $theme_color;
    }
    span:not(:first-child) {
      font-size: 1.2rem;
    }
  }
  &-inner {
    width: 100%;
    box-sizing: border-box;
  }
  &-lists {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    border-left: 20px solid $theme_color;
    transform: translateX(-40px);
  }
  &-list {
    width: 500px;
    width: 45%;
    display: block;
    border: 1px solid #919191;
    margin-bottom: 50px;
    display: flex;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .5);
    background: rgba(250, 250, 250, .84);
    border-radius: 2px;
    transition: .3s;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    &:active {
      background-color: rgba(0, 0, 0, .1);
      .genre-image {
        filter: brightness(90%);
      }
    }
    &:hover {
      box-shadow: 4px 6px 20px rgba(0, 0, 0, .5);
      .genre-content span {
      }
    }
  }
  &-image {
    width: 60%;
    height: 280px;
    transition: .3s;
    object-fit: cover;
    background-color: #999;
  }
  &-content {
    width: 40%;
    padding: 10px;
    line-height: 2rem;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #333;
    span {
      font-size: 2.4rem;
      color: #0044cc;
      font-weight: 600;
      padding: 1px 0;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #333;
    }
  }
  &-link {
    color: #cd201f;
    font-size: 2.4rem;
    margin-left: 10px;
  }
}

footer {
  height: 200px;
  width: 100%;
  background-color: #444;
  position: relative;
  top: 100vh;
}

.backcolor {
  &::after,
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  &::after {
    top: 4px;
    left: 4px
  }
  &::before {
    bottom: 4px;
    right: 4px;
  }
}

.page {
  position: absolute;
  right: 16px;
  bottom: 10px;
  font-size: 2rem;
  color: rgba(51, 51, 51, .54);
  font-family: 'Lobster', cursive;
}